.content .button{
     height: 50px;
     margin: 2% 0%;
     width: 70%;
     color: white;
     background-color: black;
     background: black;
     border-radius: 5px;
     border: 1px solid black;
     transition: 0.5s;
     cursor: pointer;
     transition: box-shadow .4s;
     @media only screen and (max-width: 780px) {
          margin: 2% auto;
          margin: 0px;
          width: 100%;

     }
}

 .button:hover{
     background-color: rgb(71,111,251);
     box-shadow: 0 0 11px rgba(33,33,33,.8);
     color: black;
}


input {
     transition: box-shadow .4s;
     width: 24.5rem;
     height: 50px;
     line-height: 21px;
     border-radius: 5px;
     border: 1px solid black;;
     padding-left: 30px;
     color: rgb(99, 99, 99);
     box-shadow: 0 0 11px rgba(33,33,33,.1);
     
}

input:hover{
     box-shadow: 0 0 11px rgba(33,33,33,.8);
} 

.logo{
     color: rgb(71,111,251);
     text-align: end;
     margin-right: 20px;
     padding: 2% 5%;
     @media only screen and (max-width: 1273px) {
          display: none;
     }
}

.logo h2{
     margin-bottom: 0px;
}

.logo p{
     margin-top: 5px;
}

.changePassword {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     height: 100%;
     width: 100%;
     font-family: 'Roboto', sans-serif;
     color: rgb(99, 99, 99);

     @media only screen and (max-width: 780px) {
          flex-direction: column;
     }
}

.leftside{
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 50%;
     background-color: rgb(71,111,251);
     height: 100%;
     text-align: center;
     margin: 0px;
     align-items: center;
     @media only screen and (max-width: 780px) {
          width: 100%;
          padding-bottom: 30px;
     }
}

.leftside img{
     height:400px;
     width:400px;
     margin-top: 93px;
     @media only screen and (max-width: 780px) {
          width: 70%;
     }
    
}
.leftside h5{
     text-align: center;
     letter-spacing: normal;
     margin-top: 50px;
     margin-left: 20px;
     margin-right: 20px;
     width: 90%;
     font-weight: 30px;
     font-size: 30px;
     color: white;
     margin-bottom: 5px;

}

.leftside p{
     margin-bottom: 70px;
     font-size: 15px;
     font-weight: 30;
     color: white;
}
.rightSide{
     width: 50%;
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;

     @media only screen and (max-width: 780px) {
          align-items:center;
          width:100%
     }
    
}

.content{
     

     @media only screen and (max-width: 780px) {
          margin: 0px;
          margin-right: auto;
          margin-left: auto;
          margin-top: 100px;
          margin-bottom: 200px;
          border-radius: 5px;
          width: 90%;
          text-align: center;
     }
}

.content input{
    
     
     @media only screen and (max-width: 780px) {
          margin: 0px;
          width: 100%;
          margin-bottom: 30px;
     }
}



.content p{
     margin: 3% 0%;
     margin-bottom: 16px;
     font-size: 16px;
     margin-top: 0px;
     font-weight: 300;

}

.content h2{
     font-size: 18px;
     font-weight: 700;
}

.form{
     display: flex;
     flex-direction: column;
     margin: 2% 0%;
     width: 100%;
}

.inputEmail{
     width:70%;
     @media only screen and (max-width: 780px) {
          margin: 0% auto;
     }
}

.modalcontent{
     margin-top: 150px;
}


@keyframes slideInFromLeft {
     0% {
       transform: translateX(-100%);
     }
     100% {
       transform: translateX(0);
     }
   }
   
   .leftside {  
     /* This section calls the slideInFromLeft animation we defined above */
     animation: 1.5s ease-out 0s 1 slideInFromLeft; 
     padding: 30px;
   }


   @keyframes slideInFromright {
     100% {
       transform: translateX(100%);
     }
     0% {
       transform: translateX(-100%);
     }
   }
   
   .content{  
     /* This section calls the slideInFromLeft animation we defined above */
     animation: 1.3s ease-out 0s 1 slideInFromLeft;
     
     padding: 50px;

     @media only screen and (max-width: 780px) {
          padding: 10px;
     }

     
   }



/* OTP STYLE */

.otp_box{
     display: flex;
     flex-direction: row;
}





.otpinput input{
     width: 150px;
     height: 70px;
     margin-right: 40px;
     margin-bottom: 30px;
     text-align: center;
     align-items: center;
     border-radius: 5px;
     border: 1px solid black;
     font-size: 60px;
     box-sizing: border-box;
     padding: 0px;
     @media only screen and (max-width: 480px) {

          margin: auto;
     }
}

.countdowntext{
     margin-bottom: 30px;
     margin-top: 30px;
     font-weight: 300;
}

 #otp_resend .button{
     border: 0;
     margin-top: 100px;
}

.content1{
     width: 35rem;
     @media only screen and (max-width: 480px) {
          width: 20rem;
          padding: 20px;
          font-size: 18px
     }
}

.content1 

#first{
     margin-bottom: 50px;
}

.content1 {
     display: flex;
     flex-direction: column;
     margin-left: 15%;
     height: 100%;
     animation: fadeInAnimation ease 4s;
     animation-iteration-count: 1;
     animation-fill-mode: forwards;

     @media only screen and (max-width: 780px) {
          margin: 0% auto;
          align-items: center;
          text-align: center;
          width: 100%;
     }
}

.otpStyle{
     
     @media only screen and (max-width: 780px) {
     display: flex;
     justify-content:space-evenly ;
   }
}


.otpStyle input{
     margin: auto;
}
 
  
 @keyframes fadeInAnimation {
     0% {
         opacity: 0;
     }
     100% {
         opacity: 1;
      }
 }

.button{
     height: 50px;
     margin: 2% 0%;
     width: 100%;
     color: white;
     background-color: black;
     background: black;
     border-radius: 5px;
     border: 1px solid black;
     transition: 0.5s;
     cursor: pointer;
     transition: box-shadow .4s;
     @media only screen and (max-width: 780px) {
          margin: 2% auto;
          margin: 0px;
          width: 100%;
          margin-top: 20px;

     }
}


.btnEnd{
     display: flex;
     flex-direction: column;
     width: 100%;
}

.modal{
     height: 400px;
}





 h1::before {  
     transform: scaleX(0);
     transform-origin: bottom right;
   }
   
   h1:hover::before {
     transform: scaleX(1);
     transform-origin: bottom left;
   }
   
   h1::before {
     content: " ";
     display: block;
     position: absolute;
     top: 0; right: 0; bottom: 0; left: 0;
     inset: 0 0 0 0;
     /* background: hsl(200 100% 80%); */
     z-index: -1;
     transition: transform .3s ease;
   }
   
   h1 {
     position: relative;
     font-size: 5rem;
   }
