
.HomeContainer{
    background-image: url("./images/bg-image.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}
.HomeContainer::before{
 content: "";
position: absolute;
top:0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(4, 32, 84, 0.5) ;
}