

.chart{
    height: 50%;
    width: 100%;
    padding-top: 70px;
}


.chart-blue{
    background-color: #ebf3f9;
}

.chart-purple{
    background-color: #c6b5f2;
}

.mastercard-orange{
    background-color: #fda47f;
}

.checkingaccount-black{
    background-color: #1e1f26;
}